<!--The content below is only a placeholder and can be replaced.-->

<div class="row justify-content-between">
  <div class="col-lg-6">
    <!--template driven forms-->
    <app-contact-forum></app-contact-forum>
  </div>
  <div class=col-lg-6>
    <div style="height: 100vh" class="d-flex flex-column  justify-content-around">
      <!--reactive forms-->
      <app-reactive-forum></app-reactive-forum>

      <!--form array-->
      <form-array style="overflow: scroll"></form-array>
    </div>
  </div>

</div>

