/*// Import Google Font - Raleway 300 & 700*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    line-height: 1.45;
    font-family: "Raleway", sans-serif;
    background: #353535;
    color: #c4c4c4;
}

.sidebar {
    background: #4f4f4f;
    flex: 1 1 20%;
    min-width: 300px;
    padding: 3em;
}

.content {
    flex: 1 1 80%;
    min-height: 100%;
    display: flex;
}

.portfolio-item {
    background: #f96855;
    color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    z-index: 10;
}

.portfolio-item:hover {
    color: white;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
}

.nav-item {
    text-decoration: none;
    color: #737373;
    font-size: 1.7rem;
    display: inline-block;
    margin-right: 0.5rem;
}

.nav-item.active {
    color: #c4c4c4;
}

.logo {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.logo span {
    font-weight: 700;
}

.portfolio {
    align-self: center;
    margin-left: 20vw;
    display: grid;
    width: 40vw;
    height: 40vw;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    grid-auto-flow: dense;

}


.square{
    grid-row: span 2 ;
    grid-column: span 2 ;
}

.large-square{
    grid-row: span 3;
    grid-column: span 3;
}

.small-square{
    grid-row: span 1;
    grid-column: span 1;
}

.wide-square{
    grid-row: span 2;
    grid-column: span 3;
}

.tall-square{
    grid-row: span 3;
    grid-column: span 2;
}



@media (min-width: 1500px ) {
    .nav-item {
        display: block;
        margin: 7vh 0;
    }

    .logo {
        margin-bottom: 6rem;
    }
}


